@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --back: #e0e0e0;
  --main: #1d3649;
}

* {
  font-family: "Roboto", sans-serif;
  color: var(--main);
}

html,
body {
  background-color: var(--back);
  margin: 0;
  padding: 0;
  height: 100%;
}

.card {
  margin: 20px;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#app .card {
  flex: 21%;
  max-width: 280px;
}
.form-select {
  max-width: 300px;
  margin: 30px;
}

.bi-plus-circle-fill,
.bi-pencil-square,
.bi-trash-fill {
  display: none;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ico i {
  margin: 10px;
}

.card-img-top {
  width: 280px !important;
  height: 280px !important;
  max-width: 280px !important;
  max-height: 280px !important;
}

.container {
  justify-content: flex-start !important;
}
